@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Fuzzy+Bubbles:wght@700&family=Merriweather&family=Montserrat&family=Poppins:wght@400;700&family=Roboto:ital,wght@1,100&family=Sacramento&family=Ubuntu&family=Work+Sans:wght@300&display=swap");

.App {
  height: 100vh;
  display: flex;
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
  color: black;
}
